/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
@import "compass";
/* リセット用CSSをインポート */
@import "compass/reset/";

/* 汎用定数 */
@import "common_variables";

/* Google Font をインポート（必要に応じて）*/
@import url(//fonts.googleapis.com/css?family=Abel);

/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/
	// ボディー部
	body
	{
		margin: 0 auto;
		height: auto;
		font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
		
		header
		{
			padding: 0;
			height: 100px;
			width: 100%;
			background-color:black;
			opacity:0.7;

			.sensei-icon
			{
				
				
				.img
				{
				
				}
			}
			.link-btn
			{
				
				
				.ul{
					text-align:center;
					.li
					{
						float:left;
					}
				}
			}

			@include clearfix;
		}
	
		main
		{
			
			padding-left:10%;
            padding-right:10%;
            text-align:center;
            
			.top-message
			{
				padding-top:20px;
                padding-bottom:80px;
                font-size:40px;
                clear:left;
                
			}
			.top-picture
			{
				img
				{
					width: 100%;
					border-radius:10px;
				}
			}
			.sensei-message
			{
				.sensei-message-box
				{
					.sensei-icon
					{
						width:40%;
						.img
						{
						
						}
					}
					.message
					{
						float:right;
                        width:70%;
					}
				}
			}

		   .syousai
		   {
		   	   text-align: center;
		   	   padding-bottom:20px;
		   	   .syousai-box
		   	   {
		   	   	    .syousai-message
		   	   	    {
		   	   	    }
		   	   	    .map
		   	   	    {
		   	   	    	/*
		   	   	    	position: relative;
                        padding-bottom: 56.25%;
                        padding-top: 30px;
                        height: 0;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        */
		   	   	    }
		   	   }
		   }

		   @include clearfix;
		}

		footer
		{
			height:auto;
			.form
			{
				text-align:center;
				background-color:#ddd;
			
				margin:auto;
				padding-top:10px;
				padding-bottom:10px;
			}

			@include clearfix;
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}

/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $media_smart_phone_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
ファブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_smart_phone_width+1) and (max-width:$media_phablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
タブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_phablet_width+1) and (max-width:$media_tablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップ専用定義
	注意事項：
		通常デスクトップのディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_tablet_width+1) and (max-width:$media_desctop_hd_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップHD以上定義
	注意事項：
		デスクトップHD以上のディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_desctop_hd_width+1)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}
