@charset "UTF-8";
/* コンパスの基本機能を全部インポート */
@import "compass";
/* リセット用CSSをインポート */
@import "compass/reset/";

/* 汎用定数 */
@import "common_variables";

/* Google Font をインポート（必要に応じて）*/
@import url(//fonts.googleapis.com/css?family=Abel);

/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------
boxレイアウト確認用
--------------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

// ボディー部
body{
		margin: 0 auto;
		height: auto;
		
	header{
	    height: 100px;
	    width: 100%;
	    
	    .sensei-icon{
	        
	    .link-btn{
	        .ul{
	            .li{
	            }
    .main{
        
        .top-messsage{
            .h1{
        }
	    .top-picture{
	        .img{
	    }
	.sensei-message{
	    .sensei-message-box{
	        .sensei-icon{
	            .img{
	        .message{
     	}
	.syousai{
	    .syousai-box{
	        .syousai-message{
	            .h2{
	            .p{
	        .map{             
	    }
	}
	.footer{
	    .form
	}